* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: sans-serif;
  line-height: 1.25;
  background-color: #f1f5f0;
}
main {
  display: grid;
  grid-template: 1fr 1fr;

  display: flex;
}
p {
  max-width: 65ch;
}

@media screen and (min-width: 768px) {
}

.knap {
  display: inline-block;
  background-color: #ff7548;
  color: #ffffff;
  text-decoration: none;
}
